<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" 
	version="3.0">
	
	<display-name>GeNius Rating</display-name>

	<servlet>
		<servlet-name>genius-rating-web</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:spring-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>genius-rating-web</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

 	<session-config>
		<cookie-config>
			<http-only>true</http-only>
			<secure>true</secure>
		</cookie-config>
	</session-config>

 
	<filter>
  		<filter-name>authenticationFilter</filter-name>
  		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
  		<init-param>
    		<param-name>targetBeanName</param-name>
    		<param-value>authenticationFilter</param-value>
  		</init-param>
	</filter>	

	<filter>
  		<filter-name>interfazUsuarioFilter</filter-name>
  		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
  		<init-param>
    		<param-name>targetBeanName</param-name>
    		<param-value>interfazUsuarioFilter</param-value>
  		</init-param>
	</filter>	
	
	<filter-mapping>
		<filter-name>authenticationFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>interfazUsuarioFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>	
<!--
	<filter>
		<filter-name>applicationFilter</filter-name>
		<filter-class>com.capitanperegrina.common.web.filters.ApplicationFilter</filter-class>
	</filter>

	<filter>
		<filter-name>XSSFilter</filter-name>
		<filter-class>com.capitanperegrina.common.web.seguridad.xss.XSSFilter</filter-class>
	</filter>

	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	
 	<filter>
	    <filter-name>HSTSFilter</filter-name>
	    <filter-class>com.capitanperegrina.common.web.filters.HSTSFilter</filter-class>
	</filter>
 
	<filter>
		<filter-name>encoding-filter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	
	<filter>
  		<filter-name>compressResponseFilter</filter-name>
  		<filter-class>com.capitanperegrina.common.web.filters.CompressResponseFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>authenticationFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>interfazUsuarioFilter</filter-name>
		<url-pattern>/inicio.do</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>applicationFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>XSSFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>encoding-filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

 	<filter-mapping>
		<filter-name>HSTSFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>compressResponseFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	
    <error-page>
    	<error-code>404</error-code>
        <location>/errors/404.html</location>
    </error-page>	
	
	<env-entry>
		<env-entry-name>mensajesLocalizados/basename</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>Mensajes</env-entry-value>
	</env-entry>
-->	
</web-app>