<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:sec="http://www.springframework.org/schema/security"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
	  http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
	  http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.2.xsd
	  http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.0.3.xsd
	  http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd 
	  http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd 
	  http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd 
      http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd">

	<context:property-placeholder location="classpath:genius-rating-application.properties" />

  	<context:annotation-config/>

	<!-- Scans the classpath of this application for @Components to deploy as beans --> 
	<context:component-scan base-package="com.capitanperegrina.*"/>
		<!-- com.capitanperegrina.simpleuser.core.entity.user.repository-UserRepositoryImpl,
		com.capitanperegrina.simpleuser.core.service.mailer.impl.CustomSimpleUserOperationsMailServiceImpl,
		com.capitanperegrina.simpleuser.core.service.user.impl.UserServiceImpl,

		com.capitanperegrina.geniusrating.core.entity.boat.repository.BoatDataRepositoryImpl,
		com.capitanperegrina.geniusrating.core.entity.boat.repository.BoatRepositoryImpl,

		com.capitanperegrina.geniusrating.core.service.boat.impl.BoatServiceImpl,

		com.capitanperegrina.geniusrating.core.view.boatListView.repository.impl.BoatListRepositoryImpl,

		com.capitanperegrina.geniusrating.web.controller.filter.GeniusRatingAuthenticationFilter,
		com.capitanperegrina.geniusrating.web.controller.filter.GeniusRatingUserInterfaceFilter" /> -->
	
	<!-- Configures the @Controller programming model -->
	<mvc:annotation-driven/>
	
	<!-- Database & Transaction -->
	<bean id="datasource" destroy-method="close" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="${spring.datasource.driver-class-name}"/>
		<property name="url" value="${spring.datasource.url}"/>
		<property name="username" value="${spring.datasource.username}"/>
		<property name="password" value="${spring.datasource.password}"/>
		<property name="initialSize" value="1"/>
		<property name="maxActive" value="5"/>
		<property name="validationQuery" value="SELECT 1"/>
		<property name="testWhileIdle" value="true"/>
		<property name="timeBetweenEvictionRunsMillis" value="600000"/>
  	</bean>
	
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="datasource"/>
	</bean>
	
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="datasource"></property>
		<qualifier value="txMgr"/>
	</bean>
	
	<tx:annotation-driven proxy-target-class="true" transaction-manager="txMgr" />

	
    <!-- Views mapped in views.properties (PDF, XLS classes, and others) -->
    <bean id="contentNegotiatingResolver" class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
		<property name="order" value="#{T(org.springframework.core.Ordered).HIGHEST_PRECEDENCE}" />
		<!-- property name="favorPathExtension" value="true"/ --> 
        <property name="contentNegotiationManager">
            <bean class="org.springframework.web.accept.ContentNegotiationManager">
                <constructor-arg>
                    <bean class="org.springframework.web.accept.PathExtensionContentNegotiationStrategy">
                        <constructor-arg>
                            <map>
                              <entry key="html" value="text/html"/>
                              <entry key="pdf" value="application/pdf"/>
                              <entry key="xsl" value="application/vnd.ms-excel"/>
                              <entry key="xml" value="application/xml"/>
                              <entry key="json" value="application/json"/>
                              <entry key="atom" value="application/xml"/>
                            </map>
                        </constructor-arg>
                    </bean>
                </constructor-arg>
            </bean>
        </property>
     </bean>
   
    <bean id="tilesViewResolver" class="org.springframework.web.servlet.view.UrlBasedViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.tiles3.TilesView" />
    </bean>

    <bean id="tilesConfigurer" class="org.springframework.web.servlet.view.tiles3.TilesConfigurer">
        <property name="definitions" value="/WEB-INF/xml/tiles.xml" />
    </bean>
    
    <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basenames" value="classpath:genius-rating-messages, classpath:simple-user-messages" />
		<property name="defaultEncoding" value="UTF-8" />
	</bean>

	<bean id="localeResolver" class="com.capitanperegrina.geniusrating.web.config.auxiliar.BrowserAndCookieLocaleResolver">
	    <property name="defaultLocale" value="jp" />
		<property name="cookieName" value="localeCookie"></property>
		<property name="cookieMaxAge" value="3600"></property>
	</bean>

	<mvc:interceptors>
		<bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
			<property name="paramName" value="lang" />
		</bean>
	</mvc:interceptors>
	
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver" >
		<property name="defaultEncoding">
			<value>utf8</value>
		</property>
	</bean>

</beans>